XYZCustomer/WSDLs/CustomerPS.wsdl

<wsdl:definitions name="CustomerService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://xmlns.xyzbank.com/wsdl/Customer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.xyzbank.com/wsdl/Customer"
                  xmlns:ns1="http://xmlns.xyzbank.com/schema/Customer">
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.xyzbank.com/schema/Customer"
                    xmlns:tns="http://xmlns.xyzbank.com/schema/Customer">
            <xsd:complexType name="Customer">
                <xsd:sequence>
                    <xsd:element name="CustomerID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FirstName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Phone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DOB" type="xsd:date" minOccurs="0"/>
                    <xsd:element name="CustomerType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Individual"/>
                                <xsd:enumeration value="Corporate"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Address1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Address2" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Address3" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="State" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Country" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ZipCode" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CustomerIDInput">
                <xsd:sequence>
                    <xsd:element name="CustomerID" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StatusMsg">
                <xsd:sequence>
                    <xsd:element name="CustomerID" type="xsd:string"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ErrorStatusMsg">
                <xsd:sequence>
                    <xsd:element name="ErrorCode" type="xsd:string"/>
                    <xsd:element name="ErrorMsg" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Customer" type="tns:Customer"/>
            <xsd:element name="CustomerIDInput" type="tns:CustomerIDInput"/>
            <xsd:element name="StatusMsg" type="tns:StatusMsg"/>
            <xsd:element name="ErrorStatusMsg" type="tns:ErrorStatusMsg"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateCustomerRequest">
        <wsdl:part name="parameters" element="ns1:Customer"/>
    </wsdl:message>
    <wsdl:message name="CreateCustomerResponse">
        <wsdl:part name="parameters" element="ns1:StatusMsg"/>
    </wsdl:message>
    <wsdl:message name="UpdateCustomerRequest">
        <wsdl:part name="parameters" element="ns1:Customer"/>
    </wsdl:message>
    <wsdl:message name="UpdateCustomerResponse">
        <wsdl:part name="parameters" element="ns1:StatusMsg"/>
    </wsdl:message>
    <wsdl:message name="DeleteCustomerRequest">
        <wsdl:part name="parameters" element="ns1:CustomerIDInput"/>
    </wsdl:message>
    <wsdl:message name="DeleteCustomerResponse">
        <wsdl:part name="parameters" element="ns1:StatusMsg"/>
    </wsdl:message>
    <wsdl:message name="MergeCustomerRequest">
        <wsdl:part name="parameters" element="ns1:Customer"/>
    </wsdl:message>
    <wsdl:message name="MergeCustomerResponse">
        <wsdl:part name="parameters" element="ns1:StatusMsg"/>
    </wsdl:message>
    <wsdl:message name="MigrateCustomerRequest">
        <wsdl:part name="parameters" element="ns1:CustomerIDInput"/>
    </wsdl:message>
    <wsdl:message name="MigrateCustomerResponse">
        <wsdl:part name="parameters" element="ns1:StatusMsg"/>
    </wsdl:message>    
    <wsdl:message name="GenericFault">
        <wsdl:part name="parameters" element="ns1:ErrorStatusMsg"/>
    </wsdl:message>
    <wsdl:portType name="CustomerServicePort">
        <wsdl:operation name="CreateCustomer">
            <wsdl:input message="tns:CreateCustomerRequest"/>
            <wsdl:output message="tns:CreateCustomerResponse"/>
            <wsdl:fault name="FaultMsg" message="tns:GenericFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateCustomer">
            <wsdl:input message="tns:UpdateCustomerRequest"/>
            <wsdl:output message="tns:UpdateCustomerResponse"/>
            <wsdl:fault name="FaultMsg" message="tns:GenericFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteCustomer">
            <wsdl:input message="tns:DeleteCustomerRequest"/>
            <wsdl:output message="tns:DeleteCustomerResponse"/>
            <wsdl:fault name="FaultMsg" message="tns:GenericFault"/>
        </wsdl:operation>
        <wsdl:operation name="MergeCustomer">
            <wsdl:input message="tns:MergeCustomerRequest"/>
            <wsdl:output message="tns:MergeCustomerResponse"/>
            <wsdl:fault name="FaultMsg" message="tns:GenericFault"/>
        </wsdl:operation>
        <wsdl:operation name="MigrateCustomer">
            <wsdl:input message="tns:MigrateCustomerRequest"/>
            <wsdl:output message="tns:MigrateCustomerResponse"/>
            <wsdl:fault name="FaultMsg" message="tns:GenericFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerServiceBinding" type="tns:CustomerServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateCustomer">
            <soap:operation soapAction="http://xmlns.xyzbank.com/wsdl/Customer/CreateCustomer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateCustomer">
            <soap:operation soapAction="http://xmlns.xyzbank.com/wsdl/Customer/UpdateCustomer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteCustomer">
            <soap:operation soapAction="http://xmlns.xyzbank.com/wsdl/Customer/DeleteCustomer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MergeCustomer">
            <soap:operation soapAction="http://xmlns.xyzbank.com/wsdl/Customer/MergeCustomer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MigrateCustomer">
            <soap:operation soapAction="http://xmlns.xyzbank.com/wsdl/Customer/MigrateCustomer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
</wsdl:definitions>
